.cafe-details-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #f6f1ea;
  overflow-y: auto;
  scrollbar-width: none;     
  -ms-overflow-style: none;
}

.details-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bookmark-button, .close-button {
  background: none;
  border: none;
  color: #f6f1ea;
  font-size: 24px;
  cursor: pointer;
}

.cafe-details-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cafe-name-container {
  background-color: #f6f1ea;
  border-radius: 30px 30px 0 0;
  padding: 20px;
  text-align: center;
}

.cafe-name-large {
  color: #201403;
  font-size: 28px;
  margin: 0;
}

.cafe-info-container {
  background-color: #514332;
  border-radius: 0 0 30px 30px;
  flex: 0 1 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vibes {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: var(--accent-color);
}

.rating-bars {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rating-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-icon {
  font-size: 20px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.rating-bar {
  flex: 1;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  overflow: hidden;
}

.rating-bar-fill {
  height: 100%;
  background-color: #f6f1ea;
}

.menu-button-link {
  display: block; 
  text-align: center; 
  width: fit-content; 
  margin: 0 auto; 
}

.menu-button {
  align-self: center;
  background-color: #f6f1ea;
  color: #201403;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  font-size: 15px;
}

.menu-button:hover {
  background-color: #dedddde1; 
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-list .detail-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.detail-item {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} 

.detail-item-body {
  display: block;
  padding-top: 3px;
}

.amenities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 15px 20px;
  background-color: #8d7b6858; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.amenity-row {
  display: flex;
  justify-content: space-between;
}

.amenity-symbol {
  color: var(--accent-color);
  margin-left: 3.5px;
}

.hours-item {
  display: flex;
  padding: 3px;
  justify-content: space-between;
  width: 50%;
}
