.page-title {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.input-area {
  height: 120px;
  resize: none;
  font-family: 'Arial', sans-serif;
  padding: 15px;
  width: 100%;
}

.match-button {
  margin-top: 30px;
} 